body{
    margin: 0;
    overflow: hidden;
}

:root{
    /* --main-color: #9FD8E7; */
    --second-color: #FFFFFF;
    --thirt-color: #D9D9D9; 
    --main-color: #2F0743;
    --contraste-color: #FECA7E;
    --constrate-second-color: #8C7EB1;
    --neon-color: #81C6E7;
    --blue-color: #022358;
}

.stars {
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: var(--contraste-color);
    animation: twinkling 5s linear infinite;
}

@keyframes twinkling {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.containerfirstPage {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
  }

  .textIntroduceMe h1{
    color: var(--contraste-color);
    font-size: 120px;
    font-family: 'Sacramento', cursive;

    margin: 0;
  }

  .textIntroduceMe p{
    color: var(--contraste-color);
    font-size: 44px;
    font-family: 'Sacramento', cursive;

    margin: 0  20px;
  }
  
  