body{
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root{
    --main-color: #2F0743;
    --constrate-second-color: #390743da;
    --contraste-color: #FECA7E;
    --neon-color: #81C6E7;
    --blue-color: #022358;
}

.stars {
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: var(--contraste-color);
    animation: twinkling 5s linear infinite;
}

@keyframes twinkling {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.containerfirstPage {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
  }

  .textIntroduceMe h1{
    color: var(--contraste-color);
    font-size: 120px;
    font-family: 'Sacramento', cursive;

    margin: 0;
  }

  .textIntroduceMe p{
    color: var(--contraste-color);
    font-size: 44px;
    font-family: 'Sacramento', cursive;

    margin: 0  20px;
  }
  
  .containerWhoAmI {
    position: relative;
    width: 100%;
    height: 600px;

    justify-content: center;
    align-items: center;
  }

  .pictureAboutMe {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture {
    background-color: var(--constrate-second-color);
    width: 150px; 
    height: 150px;
    margin-right: 25px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .picture img {
    width: 150px;
    height: 180px;
  }
  
  .aboutMe {
    color: var(--contraste-color);
    width: 350px;
    margin-left: 25px;
  }

  .information {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
        "contacts projects"
        "languagens projects";
    justify-items: center;
  }

  .contacts {
    grid-area: contacts;
    color: var(--contraste-color);
    width: 250px;

    display: flex;
    flex-direction: column;
  }

  .contacts h3 {
    margin: 25px 0 0 65px;
  }

  .listContacts li {
    display: flex;
  }

  .listContacts li div{
    background-color: var(--constrate-second-color);
    width: 200px;
    height: 20px;
    margin-left: 5px;
    padding-left: 10PX;
  }

  .listContacts li div a {
    color: var(--contraste-color);
  }

  .languagens {
    grid-area: languagens;
    width: 250px;
    height: 300px;
    color: var(--contraste-color);
  }

  .languagens h3{
    margin: 25px 0 0  65px;
  }

  .languagens ul{
    padding-left: 10px;
  }

  .languagens li{
    display: flex;
  }

  .languagens  li span{
    width: 45px;
    align-items: center;
  }

  .languagen {
    width: 100%;
    height: 90px;
    background-color: var(--constrate-second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .languagen p{
    margin: 0;
  }

  .barContainer{
    width: 100%;
    height: 20px;
    background-color: var(--contraste-color);
    border: 1px solid var(--contraste-color);
  }

  .bar{
    height: 100%;
    background-color: var(--main-color);
  }

  .projects {
    width: 220px;
    grid-area: projects;
  }


  @media(max-width: 412px){
    body {
        width: auto;
        height: auto;
        max-width: inherit;
        overflow: hidden;
    }


    .containerfirstPage {
        display: block;
        width: auto;
    }

    .containerfirstPage img{
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }

    .containerWhoAmI {
        
    }

    .picture img{
        width: 250px; 
        height: 250px;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }